body {
    background-color:maroon;
    color:White;
    font-family:arial, helvetica, sans-serif;
}

div.content{
    margin-top: 40px;
    margin-left: 60px;
    margin-right: 60px;
}

h1{
    text-align:left;
}

p{
    text-align:left;
    height:95%;
    width:95%;
}
 
 div.education {
    width: 80%;
    padding-bottom: 50px;
    text-align: left;
    background: lightgray;
    position: relative;
    border-style: solid;
    border-width: 3px;
    margin-left: 15%;
    margin-right: 5%;
    margin-bottom: 50px;
}
 
img{
     border-radius: 15px;
     margin-right:auto;
     flex-direction: row;
     margin: 10px;
     height: 250px;
     width: 150px;
     background:Thistle;
     
 }
 
 intro{
     float:right;
     position: absolute;
     height:150px; 
 }
 
 figure {
     padding-top:50px;
 }
 
 figcaption{
  float:right;
  padding-top:100px;
  padding-right:240px;
 }
 
 div.span {
  display: grid;
  width: 300px;
  height: 300px;
  padding: 5px;
  border: 1px solid black;
  background-color: grey;
}

  div.nav{
     overflow:auto;
     position:absolute;
     right:30px;
}

.nav a{
     float:right;
     margin-left:7vw;
     font-weight:600;
     font-size: 20px;
     color:white;
     background-color:gray;
     padding: 14px 16px;
     padding-bottom: 10px;
}

.flex-body {
    text-align: left;
    padding-left:20px;
    display: block;
    position:static;
}